
@{
    ViewData["Title"] = "Index";
    var p = ViewData["processes"] as System.Diagnostics.Process[];
}

<h1>Index</h1>

<ul>

    @foreach(var item in p)
    {
        <li>@item.ProcessName</li>
    }
</ul>

