@model IEnumerable<Process>
@{
    ViewData["Title"] = "Welcome";
    var p = ViewData["processes"] as System.Diagnostics.Process[];
}

<h1>@ViewData["Title"]</h1>

<ul>

    @foreach (var item in Model)
    {
        <li><a  asp-controller="Process"
                asp-action="Display"
                asp-route-id="@item.Id">@item.ProcessName</a></li>
    }
</ul>

@Html.Partial("_BogusPartialView")
